<template>
  <div>
    <vue-stock v-for="stock in stocks" :stock="stock"></vue-stock>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Stock from './Stock.vue';
  
  export default {
    computed: {
      ...mapGetters({
        stocks: 'stockPortfolio'
      }),
    },
    components: {
      'vue-stock': Stock
    }
  }
</script>

<style scoped>

</style>