<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{stock.name}} <small>(Price: {{stock.price}} | Quantity: {{stock.quantity}})</small></h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input type="number"
                 class="form-control"
                 placeholder="Quantity"
                 v-model.number="quantity">
        </div>
        <div class="pull-right">
            <button class="btn"
                    @click="sellStock"
                    :class="insufficientStocks ? 'btn-danger' : 'btn-warning'"
                    :disabled="insufficientStocks || quantity <= 0 || !Number.isInteger(quantity)">Sell</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex';
  
  export default {
    data() {
      return {
        quantity: null
      }
    },
    props: [
      'stock'
    ],
    methods: {
      ...mapActions({
        placeSellOrder: 'sellStock'
      }),
      sellStock() {
        const order = {
          id: this.stock.id,
          price: this.stock.price,
          quantity: this.quantity
        };
        this.placeSellOrder(order);
        this.quantity = null;
      },
    },
    computed: {
      insufficientStocks() {
        return this.quantity > this.stock.quantity;
      },
    },
  }
</script>

<style scoped>
  .btn {
    transition: all .5s ease-in-out;
  }
</style>