<template>
  <div>
    <vue-stock v-for="stock in stocks" :stock="stock" :key="stock.id"></vue-stock>
  </div>
</template>

<script>
  import Stock from './Stock.vue';
  
  export default {
    components: {
      'vue-stock': Stock
    },
    computed: {
      stocks() {
        return this.$store.getters.stocks;
      }
    }
  }
</script>

<style scoped>

</style>