<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{stock.name}} <small>(Price: {{stock.price}})</small></h3>
      </div>
      <div class="panel-body">
        <div class="pull-left">
          <input type="number"
                 class="form-control"
                 placeholder="Quantity"
                 v-model.number="quantity">
        </div>
        <div class="pull-right">
          <button class="btn btn-success"
                  @click="buyStock"
                  :class="insufficientFunds ? 'btn-danger' : 'btn-warning'"
                  :disabled="insufficientFunds || quantity <= 0 || !Number.isInteger(quantity)">Buy</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        quantity: null
      }
    },
    props: [
      'stock'
    ],
    methods: {
      buyStock() {
        const order = {
          id: this.stock.id,
          name: this.stock.name,
          price: this.stock.price,
          quantity: this.quantity
        };
        
        console.log(`Bought ${order.quantity} of ${order.name} stocks for $${order.price}/stock`);
        this.$store.dispatch('buyStock', order);
        this.quantity = null;
      },
    },
    computed: {
      funds() {
        return this.$store.getters.funds;
      },
      insufficientFunds() {
        return this.quantity * this.stock.price > this.funds;
      },
    }
  }
</script>

<style scoped>
  .btn {
    transition: all .5s ease-in-out;
  }
</style>