<template>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <router-link to="/"
                     tag="a"
                     class="navbar-brand">Stock Trader</router-link>
      </div>
      
      
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <router-link to="/portfolio"
                       tag="li"
                       active-class="active"
                       exact><a>Portfolio</a></router-link>
          <router-link to="/stocks"
                       tag="li"
                       active-class="active"
                       exact><a>Stocks</a></router-link>
        </ul>
        
        <strong class="navbar-text navbar-right">Funds: {{funds | currency}}</strong>
        
        <ul class="nav navbar-nav navbar-right">
          <li style="cursor: pointer"
              @click="endDay"><a>End Day</a></li>
          <li class="dropdown"
              :class="{open: dropdownShown}"
              @click="dropdownShown = !dropdownShown">
            <a href="#"
               class="dropdown-toggle"
               data-toggle="dropdown"
               role="button"
               aria-haspopup="true"
               aria-expanded="false">Save/Load<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a @click="saveData">Save Data</a></li>
              <li><a @click="loadData">Load Data</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>

<script>
  import {mapActions} from 'vuex';
  
  export default {
    data() {
      return {
        dropdownShown: false,
      }
    },
    methods: {
      ...mapActions([
          'randomizeStocks'
      ]),
      endDay() {
        this.randomizeStocks();
      },
      saveData() {
        const data = {
          funds: this.$store.getters.funds,
          stockPortfolio: this.$store.getters.stockPortfolio,
          stocks: this.$store.getters.stocks,
        };
        
        this.$http.put('data.json', data);
      },
      loadData() {
        this.$store.dispatch('loadData');
      },
    },
    computed: {
      funds() {
        return this.$store.getters.funds;
      },
    },
    filters: {
      currency(str) {
        // return '$' + str.toFixed(0).replace(/(\d)(?=(\d{3})+\b)/g, "$1,");
        return '$' + str.toLocaleString();
      },
    }
  }
</script>

<style scoped>
  .dropdown-menu > li {
    cursor: pointer;
  }
</style>