<template>
  <div>
    <h1>Trade or View your Portfolio</h1>
    <h6>You may Save & Load your Data</h6>
    <h6>Click on 'End Day' to begin a new day.</h6>
    <p>Your funds: {{funds | currency}}</p>
  </div>
</template>

<script>
 export default {
   computed: {
     funds() {
       return this.$store.getters.funds;
     },
   },
   filters: {
     currency(str) {
       // return '$' + str.toFixed(0).replace(/(\d)(?=(\d{3})+\b)/g, "$1,");
       return '$' + str.toLocaleString();
     },
   }
 }
</script>

<style>

</style>