<template>
  <div class="container">
    <vue-header></vue-header>
    <div class="row">
      <div class="col-xs-12">
        <transition name="slide" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
  import Header from './components/Header.vue';
  
  
  export default {
    components: {
      'vue-header': Header
    },
    created() {
      this.$store.dispatch('initStocks');
    }
  }
</script>

<style>
  body {
    padding: 30px;
  }
  .slide-enter-active {
    animation: slide-in .2s ease-out forwards;
  }
  .slide-leave-active {
    animation: slide-out .2s ease-out forwards;
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-40px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-40px);
      opacity: 0;
    }
  }
</style>
